.contact {
	padding: 50px 0;

	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		justify-content: center;
	}

	&__list {
		display: grid;
		row-gap: 20px;
		column-gap: 60px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		@media (max-width: $small) {
			grid-template-columns: 1fr;
		}
	}

	&__link {
		display: flex;
		gap: 15px;
		align-items: center;
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border: 2px solid $black;
		border-radius: 50%;

		svg {
			width: 60%;
			height: 60%;
		}
	}

	@media (max-width: $medium) {
		padding: 30px 0;
	}

	@media (max-width: $small) {
		padding: 20px 0;
	}
}