.hero {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	outline: solid;

	&__container {
		&::before {
			content: "";
			position: absolute;
			width: 600px;
			height: 600px;
			left: -12%;
			bottom: -10%;
			border-radius: 50%;
			background: linear-gradient(45deg, $violet, pink);
			z-index: 0;

			@media (max-width: $extraLarge) {
				width: 450px;
				height: 450px;
			}

			@media (max-width: $large) {
				width: 300px;
				height: 300px;
			}

			@media (max-width: $small) {
				left: -25%;
				bottom: -5%;
				width: 150px;
				height: 150px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 200px;
			height: 200px;
			left: 35%;
			top: 12%;
			border-radius: 50%;
			background: linear-gradient(45deg, $violet, pink);
			z-index: -1;

			@media (max-width: $extraLarge) {
				top: 20%;
				width: 150px;
				height: 150px;
			}

			@media (max-width: $large) {
				width: 100px;
				height: 100px;
			}

			@media (max-width: $small) {
				top: 25%;
				width: 50px;
				height: 50px;
			}
		}

		@media (max-width: $small) {
			display: flex;
			gap: 15px;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__content {
		display: flex;
		gap: 15px;
		flex-direction: column;

		@media (max-width: $small) {
			gap: 5px;
		}
	}

	&__overhead,
	&__title,
	&__paragraph {
		z-index: 100;
	}

	&__overhead {
		position: relative;
		display: block;
		font-size: rem(24px);
		letter-spacing: 4px;
		color: $gray;

		&::after {
			content: "";
			position: absolute;
			height: 4px;
			width: rem(45px);
			bottom: -5px;
			background-color: $violet;

			@media (max-width: $small) {
				bottom: 5px;
				height: 2px;
				width: rem(20px);
			}
		}

		@media (max-width: $extraLarge) {
			font-size: rem(18px);
		}

		@media (max-width: $medium) {
			font-size: rem(16px);
			letter-spacing: 2px;
		}

		@media (max-width: $small) {
			font-size: rem(12px);
		}
	}

	&__paragraph {
		max-width: rem(500px);

		@media (max-width: $extraLarge) {
			max-width: rem(400px);
		}

		@media (max-width: $medium) {
			max-width: rem(300px);
		}
	}

	&__image {
		position: absolute;
		right: 20%;
		bottom: 0;
		height: 700px;

		img {
			width: 100%;
			height: 100%;
		}

		@media (max-width: $extraLarge) {
			right: 10%;
			height: 580px;
		}

		@media (max-width: $medium) {
			height: 250px;	
		}

		@media (max-width: $small) {
			position: unset;
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 400px;
		height: 400px;
		right: 20%;
		top: 30%;
		border-radius: 50%;
		background: linear-gradient(45deg, $violet, pink);
		z-index: -1;

		@media (max-width: $extraLarge) {
			width: 350px;
			height: 350px;
		}

		@media (max-width: $large) {
			width: 200px;
			height: 200px;
		}

		@media (max-width: $small) {
			top: 40%;
			width: 150px;
			height: 150px;
		}
	}

	@media (max-width: $small) {
		padding-top: 80px;
	}
}