<section id="about" class="about">
	<div class="about__container container">
		<div class="about__content">
			<h2 class="about__title title">
				about.
			</h2>
			<p class="about__subtitle subtitle">
				I'm a web developer, musician, skateboarder and freelancer
			</p>
			<p class="about__paragraph paragraph">
				I really love web development, but in my free time from work I also play in a rock band, write music and skateboard. I also consider programming as a hobby - from time to time I write personal pet projects
			</p>
		</div>
		<div class="about__image">
			<img src="@images/about.jpg" alt="About Image">
		</div>
	</div>
</section>