<section id="about" class="about">
	<div class="about__container container">
		<div class="about__content">
			<h2 class="about__title title">
				about.
			</h2>
			<p class="about__subtitle subtitle">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, odio!
			</p>
			<p class="about__paragraph paragraph">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa natus non quasi ipsam asperiores repellat accusantium totam molestiae facilis reiciendis?
			</p>
		</div>
		<div class="about__image">
			<img src="@images/about.jpg" alt="About Image">
		</div>
	</div>
</section>