<footer class="footer">
	<div class="footer__container container">
		<a href="index.html" class="footer__copyright">© 2023 Gofman Denis</a>
		<nav class="footer__nav nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="about" class="nav__link">about</a>
				</li>
				<li class="nav__item">
					<a href="portfolio" class="nav__link">portfolio</a>
				</li>
				<li class="nav__item">
					<a href="contact" class="nav__link">contact</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>