<section class="portfolio-hero portfolio-hero__hero">
	<div class="container portfolio-hero__container">
		<div class="portfolio-hero__content">
			<p class="portfolio-hero__subtitle subtitle subtitle--center">landing page</p>
			<h2 class="portfolio-hero__title title title--center">Gigaverse Labs</h2>
			<p class="portfolio-hero__paragraph paragraph paragraph--center">
				Layout of adaptive landing page
			</p>
		</div>
		<div class="portfolio-hero__image">
			<img src="@images/gig-hero.png" alt="Gig Image">
		</div>
	</div>
</section>