<section class="hero">
	<div class="hero__container container">
		<div class="hero__content">
			<span class="hero__overhead">Hello, my name is <b>Denis</b></span>
			<h1 class="hero__title title">
				I'm <span class="multiText"></span>
			</h1>
			<p class="hero__paragraph paragraph">
				I love creating beautiful and creative websites or just typing on the keyboard. If I'm not lining up pixels on
				the screen, I'm probably strumming my guitar or sleeping.
			</p>
		</div>
		<div class="hero__image">
			<img src="@images/hero.png" alt="Hero Image">
		</div>
	</div>
</section>