<section id="portfolio" class="portfolio">
	<div class="portfolio__container container">
		<h2 class="portfolio__title title title--center">portfolio.</h2>
		<p class="portfolio__subtitle subtitle subtitle--center">
			Check out some of my latest work
		</p>
		<ul class="portfolio__list">
			<li class="portfolio__item">
				<a href="divan.html" class="portfolio__site site">
					<div class="site__image">
						<img src="@images/divan-hero.jpg" alt="Site Image">
					</div>
					<div class="site__text">
						<h3 class="site__title">divan records</h3>
						<p class="site__desc">website development</p>
					</div>
				</a>
			</li>
			<li class="portfolio__item">
				<a href="snikpic.html" class="portfolio__site site">
					<div class="site__image">
						<img src="@images/snikpic-hero.jpg" alt="Site Image">
					</div>
					<div class="site__text">
						<h3 class="site__title">snikpic</h3>
						<p class="site__desc">landing page</p>
					</div>
				</a>
			</li>
			<li class="portfolio__item">
				<a href="brooklands-detailing.html" class="portfolio__site site">
					<div class="site__image">
						<img src="@images/detailing-hero.jpg" alt="Site Image">
					</div>
					<div class="site__text">
						<h3 class="site__title">brooklands detailing</h3>
						<p class="site__desc">website development</p>
					</div>
				</a>
			</li>
			<li class="portfolio__item">
				<a href="gigaverse-labs.html" class="portfolio__site site">
					<div class="site__image">
						<img src="@images/gig-hero.jpg" alt="Site Image">
					</div>
					<div class="site__text">
						<h3 class="site__title">gigaverse labs</h3>
						<p class="site__desc">landing page</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>