<section class="setup">
	<div class="setup__container container">
		<div class="setup__image">
			<img src="@images/setup.jpg" alt="Setup Image">
		</div>
		<div class="setup__content">
			<h2 class="setup__title title">
				my setup.
			</h2>
			<p class="setup__subtitle subtitle">
				When creating a website, I use the BEM methodology and these tools:
			</p>
			<ul class="setup__list">
				<li class="setup__item">Macbook</li>
				<li class="setup__item">VS Code</li>
				<li class="setup__item">Figma</li>
				<li class="setup__item">Adobe Photoshop</li>
				<li class="setup__item">Notion</li>
				<li class="setup__item">Coffee</li>
			</ul>
		</div>
		
	</div>
</section>